PORT=8080

DATABASE_URI="postgres://user:password@host:port/nama_database?sslmode=disable"

JWT_SECRET="jwt-super-secret"

FRONTEND_URL="http://localhost:5173"


REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""
